@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.body {
    margin: 0;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.navbar {
    background-color: #D8E0FF;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
}
@media (max-width: 768px) {
    .navbar-nav .nav-item {
        display: block;
        text-align: center;
        margin: auto;
    }
    .ml-auto {
        margin-left: 0;
        text-align: left;
    }
}
.logo-wrapper img {
    max-width: 100%;
    height: auto;
    max-height: 40px;
}
.nav-link {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
.navbar-nav .nav-link.active {
    font-weight: 600;
    color: #364A99;
}
.nav-link:hover {
    color: #364A99;
}
.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 10px;
}
.dropdown-item:hover {
    background-color: #E9EEFC;
    color: #364A99;
}
.btn-link {
    color: #364A99;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 16px;
}
.btn-link:hover {
    color: #364A99;
    font-weight: 600;
}
.btn-fill {
    background-color: #364A99;
    color: #FFFFFF;
    font-size: 16px;
}
.btn-fill:hover {
    border-color: #364A99;
    color: #364A99;
    font-weight: 500;
}
.carousel img {
    width: 650px;
    height: 650px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.about-section {
    background-color: #FFFFFF;
    margin: auto;
}
.about-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}
.section-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
}
.section-text {
    font-size: 16px;
    text-align: justify;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 10px;
}
.vector1, .vector3 {
    max-width: 100%;
    height: auto;
    margin: 20px;
}
.vector2 {
    max-width: 100%;
    height: auto;
    margin: 10px 60px;
}
.vector4, .vector5 {
    max-width: 100%;
    height: auto;
}
.explore-section {
    background-color: #E9EEFC;
    margin: auto;
}
.joinArtist-section {
    background-color: #FFFFFF;
    margin: auto;
}
.footer {
    background-color: #D8E0FF;
    padding: 10px 50px;
}
.footer-brand img {
    max-width: 100%;
    height: auto;
    max-height: 40px;
}
.footer-brand h4 {
    color: #364A99;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}
.footer-brand p {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}
.footer-links h5 {
    font-weight: bold;
    font-size: 16px;
}
.links {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}
.cr-text h6 {
    font-size: 16px;
    text-align: center;
}
.register-section, .login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.form-wrapper {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.form-group {
    margin-bottom: 20px;
}
.form-label {
    font-size: 16px;
}
.btn-process {
    background-color: #364A99;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: medium;
}
.btn-process:hover {
  background-color: #00416a;
  color: white;
}
.page-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}
.page-text {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}
.card {
    background-color: #F0F3FF;
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    color: #6A6A6A;
    text-align: center;
}
.card-text {
    font-size: 16px;
    margin-top: 20px;
}
.about-container img {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}
.btn-contact {
    background-color: #364A99;
    color: white;
    border: none;
    border-radius: 45px;
    max-width: 25%;
    height: 40px;
    font-size: 16px;
    font-weight: medium;
    margin-top: 60px;
}
.btn-contact:hover {
  background-color: #00416a;
  color: white;
}
@media (max-width: 768px) {
    .btn-contact {
        max-width: none;
        width: 100%;
        margin-top: 20px;
    }
}
.card-artwork {
    background-color: #F0F3FF;
    padding: 14px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    width: 20rem;
    margin: 0 auto;
    margin-top: 30px;
    color: #6A6A6A;
    text-align: left;
}
.card-section h2.artist-name {
    color: #364A99;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card-section h2.artwork-title {
    color: #364A99;
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
}
.card-desc {
    color: #6A6A6A;
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}
.card-link{
    color: #005386;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.icon-wrapper {
    color: #364A99;
}
.btn-save {
    background-color: #364A99;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: medium;
}
.btn-save:hover {
  background-color: #00416a;
  color: white;
}
@media (max-width: 768px) {
    .btn-save {
        max-width: none;
        width: 100%;
    }
}
.upload-wrapper {
    max-width: 100%;
    border: 2px solid #D8E0FF;
    margin: 35px;
	padding: 30px;
	border-radius: 5px;
    justify-content: center;
}
.img-area {
	position: relative;
	width: 100%;
	height: 350px;
	background-color: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	border-radius: 5px;
    border: none;
	color: #000;
    text-decoration: underline;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	transition: all .3s ease;
}
.box {
    margin: 0px 20px;
}
.btn-upload {
    background-color: #364A99;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: medium;
    margin: 50px 35px;
    padding: 8px 24px;
}
.btn-upload:hover {
  background-color: #00416a;
  color: white;
}
div#AvatarFileUpload {
    position: relative;
    width: 150px;
    height: 150px;
    background: #f9f9f9;
    border: 3px solid #bbb;
    border-radius: 50% 50%;
    margin: auto;
}
div#AvatarFileUpload > .selected-image-holder{
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;
}
div#AvatarFileUpload > .selected-image-holder{
    width: 100%;
    overflow: hidden;
}
div#AvatarFileUpload > .selected-image-holder>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
div#AvatarFileUpload > .avatar-selector{
    position: absolute;
    bottom: 8px;
    right: 19%;
    width: 20px;
    height: 20px;
}
div#AvatarFileUpload > .avatar-selector input[type="file"]{
    display: none;
}
div#AvatarFileUpload > .avatar-selector > .avatar-selector-btn{
    width: 100%;
    height: 100%;
    background: #c0c0c09e;
    padding: 5px 7px;
    border-radius: 50% 50%;
}
div#AvatarFileUpload > .avatar-selector > .avatar-selector-btn>img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    z-index: 2;
}
.gallery-figure {
    position: relative;
    border: 15px ridge #221A17;
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.img-fluid {
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.detail-section h2.artwork-title {
    font-size: 24px;
    font-weight: 600;
}
.detail-section h3.artist-name {
    font-size: 18px;
    font-weight: 500;
}
.table-wrapper>.table-row {
    display: table-row;
}
.table-wrapper>.table-row>.table-col:not(:last-child) {
    padding-right: 20px;
}
.table>.table-row>.table-col.head {
    word-break: keep-all;
    white-space: nowrap;
}
.table-wrapper>.table-row:not(:last-child)>.table-col {
    padding-bottom: 12px;
}
.table-wrapper>.table-row>.table-col {
    display: table-cell;
    line-height: 20px;
}
.table-wrapper>.table-row>.table-col:not(:first-child) {
    padding-left: 20px;
}